@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

html, body{ 
    height: 100vh;
    width: 100vw;
    background-color: black;
}


main{ height: 100vh;
    position: relative;}



body{
    background: url(../imagens/fundo-madeira.jpg) no-repeat center center; 
    background-attachment: fixed;
    background-size: cover;
}



#telefone{ position: absolute;
            top: 50%;
            left: 50%; 
            transform:translate( -50%, -50%);

            height: 620px;
            width: 305px;
            background-color: white;
            background:  url(../imagens/frame-iphone.png) no-repeat; }
        


iframe#tela{ position: relative;
        top: 83px;
        left: 24px;
        width: 263px;
        height: 467px;
    
}


#redes-sociais img{ 
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px;
    border-radius: 1px solid black;
    box-sizing: border-box;
}

section#redes-sociais img:hover{
    border: 2px solid white;
    transform: translate(4px, 4px);
    transition: transform 0.6s;
}





